##Questo mi permette di creare pacchetti pronti per la produzione 
##E in caso caricare l'immagine sia su dockehub che su Hugginface
name: Continuous Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push to Docker Hub
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
         
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/machine-invetors-api:latest

      - name: Deploy Notification
        run: echo "Immagine caricata con successo su Docker Hub!"